[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json
[submodule "3rdparty/ordered-map"]
	path = 3rdparty/ordered-map
	url = https://github.com/Tessil/ordered-map.git
