[submodule "qt-creator"]
	path = thirdparty/qt-creator
	url = https://github.com/qt-creator/qt-creator
[submodule "json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json
[submodule "ordered-map"]
	path = thirdparty/ordered-map
	url = https://github.com/Tessil/ordered-map.git
